
/* Configurando o cabeçalho da aplicação*/
.app-header {
    height: 120px;
    line-height: 120px;
    background: lightgrey;
	justify-content: center;
}

.app-title {
    font-size: 45px;
    text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.box {
	display: grid;
	grid-template-columns: auto;
	background-color: #f8f8f8;
	margin: 10px;
	min-width:25%;
	justify-content: center;
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 30px;
}